<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TAG</a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Página Inicial", "IndexCracha", "Home")</li>
                @*<li>@Html.ActionLink("Sobre", "About", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Usuario", "CadastrarUsuario", "Usuario")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Cadastrar Evento", "CadastrarEvento", "Evento")</li>
                        <li>@Html.ActionLink("Listar Meus Evento", "ListarMeusEventos", "Evento")</li>
                        @*<li>@Html.ActionLink("Listar Eventos Comigo", "ListarTodosEventos", "Evento")</li>*@
                        <li>@Html.ActionLink("Listar Eventos Antigos", "ListarEventosAntigos", "Evento")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modulo<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Cadastrar Modulo", "CadastrarModulo", "Modulo")</li>
                        <li>@Html.ActionLink("Listar Meus Modulos", "ListarMeusModulos", "Modulo")</li>
                        <li>@Html.ActionLink("Listar Modulos Comigo", "ListarTodosModulos", "Modulo")</li>
                        <li>@Html.ActionLink("Listar Modulos Antigos", "ListarModulosAntigos", "Modulo")</li>
                    </ul>
                </li>

            </ul>
            <div class="pull-right">
                <button class="btn btn" title="Logout" onclick="javascript: location.href = '/Login/Logout';">Logout</button>
            </div>
        </div>
    </div>
</nav>

