@model Event.ViewModels.DadosModulo
@{
    ViewBag.Title = "CadastrarModulo";
    <!--Isso aqui valida a lista de qm pode mexer-->
    var usuario = Model.Usuario;
}

<div class="container col-md-5 col-sm-5 transparencia">
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>Cadastrar Módulo</legend>
            <div>
                <label class="control-label">* Nome</label>
                <div>
                    <input class="textos form-control" id="tnome" name="Nome" type="text" placeholder="Nome" required="required">
                </div>
            </div>
            <div>
                <label class="control-label">Descrição</label>
                <div>
                    <textarea class="textos form-control" id="tdescricao" name="Descricao" placeholder="Digite a descrição"></textarea>
                </div>
            </div>
            <div>
                <label class="control-label">* Evento</label>
                <div>
                    <select class="selectpicker form-control" onchange="validarDataModulo($(this).val())" name="Evento" id="evento">
                        @foreach (var i in Model.Eventos)
                        {
                            if (Model.IdEvento > 0 && Model.IdEvento == i.Id)
                            {
                                <option value="@i.Id" selected>@i.Nome</option>
                            }
                            else
                            {
                                <option value="@i.Id">@i.Nome</option>
                            }

                        }
                    </select>
                </div>
            </div>
            <div>
                <label class="control-label">* Vagas</label>
                <div>
                    <input class="form-control dataInput" onkeypress="return validarNumero()" id="tvagas" name="Vagas" type="number" placeholder="Maximo de vagas" required="required" min="1">
                </div>
            </div>
            <div>
                <label class="control-label">* Data</label>
                <div>
                    <input onchange="validarDataModulo($('#evento').val())" id="tDataInicio" name="Data" type="text" placeholder="00/00/0000" class="data calendario form-control dataInput" required="required">
                        <span style="color:red;" id="erroDataInicio"></span>
                </div>
            </div>
            <div>
                <label class="control-label">* Horário de Início</label>
                <div>
                    <input onchange="validarDiferencaHora(); validarHoraInicio();" id="tinicio" name="Inicio" type="text" placeholder="00:00" class="time form-control dataInput" required="required">
                    <span style="color:red;" id="erroHoraInicio"></span>
                </div>
            </div>
            <div>
                <label class="control-label">* Horário de Fim</label>
                <div>
                    <input onchange="validarDiferencaHora(); validarHoraFim();" id="tfim" name="Fim" type="text" placeholder="00:00" class="time form-control dataInput" required="required">
                    <span style="color:red;" id="erroHoraFim"></span>
                    <span style="color:red;" id="erroDiferencaHora"></span>
                </div>
            </div>
            <div>
                <label class="control-label">Observação</label>
                <div>
                    <textarea class="textos form-control" id="tobservacao" name="Observacao" placeholder="Existem Observações?"></textarea>
                </div>
            </div>

            <br />
            <div align="center">
                <div class="btn-group">
                    <button class="btn btn-success" type="submit" id="enviar">Enviar</button>
                    <button class="btn btn-danger" type="reset" id="limpar">Limpar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-md-1 col-sm-1"></div>
<div class="container col-md-6 col-sm-6 transparencia" id="tablePc" style="display: none">
    <legend align="center">Lista dos Meus Módulos</legend>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Horário</th>
            <th></th>
        </tr>
        @foreach (var i in Model.Modulos)
        {
            <tr>
                <td>@i.Nome</td>
                <td>@i.Data.ToShortDateString()</td>
                <td>@i.Inicio</td>
                @if (i.Evento.Organizador == usuario)
                {
                    <td class="btn-group">
                        <button class="btn btn-default col-xs-3" title="Convidar Usuario" onclick="location.href='../Modulo/ConvidarUsuario/@i.Id';"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user"></span></button>
                        <button class="btn btn-default col-xs-3" title="Lista de Inscritos" onclick="location.href='../Modulo/ListarUsuariosInscritos/@i.Id'"><span class="glyphicon glyphicon-list"></span></button>
                        <button class="btn btn-default col-xs-3" title="Alterar Módulo" onclick="location.href='../Modulo/AlterarModulo/@i.Id';"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-default col-xs-3" title="Deletar Módulo" onclick="location.href='../Modulo/InativarModulo/@i.Id';"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </table>
</div>

<div class="container col-md-7 col-sm-7 transparencia" id="tableCel" style="display: none">
    <br />
    <br />
    <h4>Listar meus módulos</h4>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
        </tr>
        @foreach (var i in Model.Modulos)
        {
            <tr>
                <td>@i.Nome</td>
                <td>@i.Data.ToShortDateString()</td>
                <td>@i.Inicio</td>
                <td>@i.Fim</td>
            </tr>
        }
    </table>
</div>


@section scripts{
    <script>
        $("button[type=submit]").click(function (e) {
            var erroDataInicio = document.getElementById("erroDataInicio").innerHTML;
            var erroHoraInicio = document.getElementById("erroHoraInicio").innerHTML;
            var erroDiferencaHora = document.getElementById("erroDiferencaHora").innerHTML;
            var erroHoraFim = document.getElementById("erroHoraFim").innerHTML;
            if (erroDataInicio != "" || erroHoraInicio != "" || erroDiferencaHora != "" || erroHoraFim != "") {
                alert("Corrigir os campos em vermelho!");
                e.preventDefault();
            }
        });
        jQuery(document).ready(function ($) {
            var deviceAgent = navigator.userAgent.toLowerCase();
            var agentID = deviceAgent.match(/(iphone|ipod|ipad|android)/);

            if (agentID) {
                document.getElementById('tableCel').style.display = "block";

            } else {
                document.getElementById('tablePc').style.display = "block";
            }
        });
    </script>
}
