@model Event.ViewModels.DadosModulo
@{
    ViewBag.Title = "Meus Modulos";
    var usuario = Model.Usuario;
}
<div id="tablePc" class="container transparencia" style="display: none">
    <h2 align="center">Lista dos Meus Módulos</h2>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Descricao</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Vagas</th>
            <th>Evento</th>
            <th></th>
        </tr>
        @foreach (var i in Model.Modulos)
        {
            <tr>
                <td>@i.Nome</td>
                <td>@i.Data.ToShortDateString()</td>
                <td>@i.Descricao</td>
                <td>@i.Inicio</td>
                <td>@i.Fim</td>
                <td>@i.Vagas</td>
                <td>@i.Evento.Nome</td>
                <td class="btn-group">
                    <button class="btn btn-default col-xs-4" title="Convidar Usuario" onclick="location.href='../Modulo/ConvidarUsuario/@i.Id';"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user"></span></button>
                    <button class="btn btn-default col-xs-4" title="Alterar Usuario" onclick="location.href='../Modulo/AlterarModulo/@i.Id';"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-default col-xs-4" title="Delete Usuario" onclick="location.href='../Modulo/InativarModulo/@i.Id';"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </table>
</div>

<div class="transparencia" id="tableCel" style="display: none">
    <h4>Listar meus módulos</h4>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Convidar Usuario</th>

        </tr>
        @foreach (var i in Model.Modulos)
        {
            <tr>
                <td>@i.Nome</td>
                <td>@i.Data.ToShortDateString()</td>
                <td>@i.Inicio</td>
                <td><button class="btn btn glyphicon glyphicon-userplus" onclick="location.href='../Modulo/ConvidarUsuario/@i.Id';"></button></td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            var deviceAgent = navigator.userAgent.toLowerCase();
            var agentID = deviceAgent.match(/(iphone|ipod|ipad|android)/);

            if (agentID) {
                document.getElementById('tableCel').style.display = "block";

            } else {
                document.getElementById('tablePc').style.display = "block";
            }
        });
    </script>
}