@model Dominio.Entidades.Usuario
@{
    ViewBag.Title = "Home/Acesso";
    var entrada = TempData["SucessoEntrar"] ?? string.Empty;
    var saida = TempData["SucessoSair"] ?? string.Empty;
}

<div class="col-md-9">
    <h2>Bem vindo @Model.Nome!</h2>
</div>
<div class="col-md-3">
    <h4>Convites</h4>
    <table class="table">
        <tr>
            <th>Modulo</th>
            <th>Aceitar</th>
            <th>Recusar</th>
        </tr>
        @foreach (var i in Model.Modulos)
        {
            <tr>
                <td>@i.Nome</td>
                <td><button onclick="aceitarConvite(@i.Id)">Aceitar</button></td>
                <td><button onclick="recusarConvite(@i.Id)">Recusar</button></td>
            </tr>
        }
    </table>
    <input type="button" onclick="closeAba()"/>
</div>
<script>
    var sucessoEntrada = "@entrada";
    var sucessoSaida = "@saida";
    if (sucessoEntrada != "") {
        alert("Entrada realizada com sucesso.");
        
    } else if (sucessoSaida != ""){
        alert("Saida realizada com sucesso.");
        
    }

</script>
